import("stats")
export("dist", "simil",
       "as.dist", "as.simil",
       "pr_simil2dist", "pr_dist2simil",
       "row.dist", "col.dist",
       "rowSums.dist", "colSums.dist", "rowMeans.dist", "colMeans.dist",
       "pr_DB")

S3method("dim", "dist")
S3method("dimnames", "dist")
S3method("dimnames<-", "dist")
S3method("names", "dist")
S3method("names<-", "dist")

S3method("subset", "dist")
S3method("[[", "dist")
S3method("as.matrix", "dist")
S3method("as.matrix", "simil")
S3method("print","crossdist")
S3method("print","pairdist")

S3method("summary","pr_DB")
S3method("print","summary.pr_DB")

## generic registry stuff
S3method("[[", "registry")
S3method("length", "registry")
S3method("print","registry")
S3method("print","registry_field")
S3method("print","registry_entry")
S3method("summary","registry")
S3method("as.data.frame","registry")

useDynLib("proxy",
          "R_euclidean_dist",
          "R_manhattan_dist",
          "R_maximum_dist",
          "R_minkowski_dist",
          "R_bjaccard",
          "R_cosine",
          "R_ejaccard",
          "R_fuzzy_dist",
          "R_row_dist",
          "R_subset_dist",
          "R_rowSums_dist",
          ## .External
	  "R_apply_dist_binary_matrix",
          "R_apply_dist_list",
          "R_apply_dist_matrix",
          "R_apply_dist_data_frame")
